# PROJECT GEGEVENSBANKEN - SQL

# Imports

In [ ]:
# Benodigde packages

import getpass         # Package om een paswoordveldje te genereren.
import json            # Package om .json files in te laden (bvb kolomnamen zijn zo opgeslagen)
import mysql.connector # MySQL package
import numpy as np
import os
import pandas as pd    # Populaire package voor data-verwerking
import re
import sys

from inspect import getsource
from IPython.display import display, Markdown
from os.path import dirname

# Imports van binnen onze eigen repository
this_dir = os.getcwd()
root_dir = dirname(this_dir)
docs_dir = os.path.join(root_dir, 'docs')
source_dir = os.path.join(root_dir, 'src')
script_dir = os.path.join(root_dir, 'scripts')
solution_dir = os.path.join(root_dir, 'solution')

# Text files from which some descriptions are rendered
introduction_file = os.path.join(docs_dir, '01-introduction.md')
instructions_file = os.path.join(docs_dir, '02-instructions.md')
qry_description_file = os.path.join(docs_dir, '03-qry-descriptions.md')
submissions_file = os.path.join(docs_dir, '04-submissions.md')

sys.path.append(script_dir)
sys.path.append(source_dir)

from basics import verbind_met_GB, run_query, res_to_df # Basic functionalities, explained in introduction.
from custom_parsers import parse_markdown

In [ ]:
display(Markdown(parse_markdown(introduction_file, section_number=[1,2,3]))) # Tekst en uitleg worden ingelezen uit bestanden uit de `docs` folder.

In [ ]:
print(getsource(verbind_met_GB))
print('- --- - --- - --- - --- - --- - --- - - --- - --- - --- - --- - --- - --- -\n')
print(getsource(run_query))
print('- --- - --- - --- - --- - --- - --- - - --- - --- - --- - --- - --- - --- -\n')
print(getsource(res_to_df))

In [ ]:
display(Markdown(parse_markdown(introduction_file, section_number=4)))

In [ ]:
# Inspecteer de dictionairy van kolomnamen

filename = os.path.join(solution_dir, 'all_q_colnam.json')
col_names = json.load(open(filename, 'r'))    

col_names # Inspecteer dictionary

In [ ]:
display(Markdown(parse_markdown(instructions_file, section_number=[1,2])))

In [ ]:
# Voorbeeld-query (oplossing)
def query_EX(connection, column_names, homeruns=20):
    # Bouw je query
    query="""
    select    t.name, t.yearID, t.HR
    from      Teams as t
    where     t.HR > {}
    order by  t.HR DESC;
    """.format(homeruns) # TIP: Zo krijg je parameters in de string (samen met `{}` in de string)
    
    # Stap 2 & 3
    res = run_query(connection, query)         # Query uitvoeren
    df = res_to_df(res, column_names)          # Query in DataFrame brengen
    
    return df

In [ ]:
display(Markdown(parse_markdown(instructions_file, section_number=3)))

In [ ]:
# STAP 01: Verbindingsobject aanmaken

username = 'root'      # Vervang dit als je via een andere user queries stuurt
hostname = 'localhost' # Als je een databank lokaal draait, is dit localhost.
db = 'db1819'          # Naam van de gegevensbank op je XAMPP Mysql server

# We verbinden met de gegevensbank
c = verbind_met_GB(username, hostname, db, password='')

In [ ]:
# STAP 02: Query runnen, resultaat ophalen en inspecteren.

kolomnamen_voorbeeldquery = col_names['query_01']        # Voorbeeldquery heeft dezelfde kolomnamen als query 1.

df = query_EX(c,kolomnamen_voorbeeldquery,homeruns=10)   # Query-functie uitvoeren, geeft resultaat van de query in een DataFrame

df.head()                                                # Inspecteer eerste resultaten (laat. head() weg om alles te zien)

In [ ]:
# EXTRA: Query runnen met andere parameterwaarde

kolomnamen_voorbeeldquery = col_names['query_01']        # Voorbeeldquery heeft dezelfde kolomnamen als query 1.

df = query_EX(c,kolomnamen_voorbeeldquery,homeruns=100)  # Query-functie uitvoeren, geeft resultaat van de query in een DataFrame

df.head()                                                # Inspecteer eerste resultaten (laat. head() weg om alles te zien)

## 3. Queries

In [ ]:
display(Markdown(parse_markdown(qry_description_file, section_number=1)))

In [ ]:
def query_01(connection, column_names):
    
    # Bouw je query
    query="""
    MAAK QUERY HIER
    """
    
    # Stap 2 & 3
    res = run_query(connection, query)         # Query uitvoeren
    df = res_to_df(res, column_names)          # Query in DataFrame brengen
    
    return df

In [ ]:
display(Markdown(parse_markdown(qry_description_file, section_number=2)))

In [ ]:
def query_02(connection, column_names, datum_x='1980-01-16'):
    
    # Bouw je query
    query="""
    MAAK QUERY HIER
    """
    
    # Stap 2 & 3
    res = run_query(connection, query)         # Query uitvoeren
    df = res_to_df(res, column_names)          # Query in DataFrame brengen
    
    return df

In [ ]:
display(Markdown(parse_markdown(qry_description_file, section_number=3)))

In [ ]:
def query_03(connection, column_names):
    
    # Bouw je query
    query="""
    MAAK QUERY HIER
    """
    
    # Stap 2 & 3
    res = run_query(connection, query)         # Query uitvoeren
    df = res_to_df(res, column_names)          # Query in DataFrame brengen
    
    return df

In [ ]:
display(Markdown(parse_markdown(qry_description_file, section_number=4)))

In [ ]:
def query_04(connection, column_names, league_l='mlb', jaar_x=1980, jaar_y=1990):
    
    # Bouw je query
    query="""
    MAAK QUERY HIER
    """
    
    # Stap 2 & 3
    res = run_query(connection, query)         # Query uitvoeren
    df = res_to_df(res, column_names)          # Query in DataFrame brengen
    
    return df

In [ ]:
display(Markdown(parse_markdown(qry_description_file, section_number=5)))

In [ ]:
def query_05(connection, column_names):
    
    # Bouw je query
    query="""
    MAAK QUERY HIER
    """
    
    # Stap 2 & 3
    res = run_query(connection, query)         # Query uitvoeren
    df = res_to_df(res, column_names)          # Query in DataFrame brengen
    
    return df

In [ ]:
display(Markdown(parse_markdown(qry_description_file, section_number=6)))

In [ ]:
def query_06(connection, column_names):
    
    # Bouw je query
    query="""
    MAAK QUERY HIER
    """
    
    # Stap 2 & 3
    res = run_query(connection, query)         # Query uitvoeren
    df = res_to_df(res, column_names)          # Query in DataFrame brengen
    
    return df

In [ ]:
display(Markdown(parse_markdown(qry_description_file, section_number=7)))

In [ ]:
def query_07(connection, column_names, jaar_y=1980, manager_x='joske'):
    
    # Bouw je query
    query="""
    MAAK QUERY HIER
    """
    
    # Stap 2 & 3
    res = run_query(connection, query)         # Query uitvoeren
    df = res_to_df(res, column_names)          # Query in DataFrame brengen
    
    return df

In [ ]:
display(Markdown(parse_markdown(qry_description_file, section_number=8)))

In [ ]:
def query_08(connection, column_names):
    
    # Bouw je query
    query="""
    MAAK QUERY HIER
    """
    
    # Stap 2 & 3
    res = run_query(connection, query)         # Query uitvoeren
    df = res_to_df(res, column_names)          # Query in DataFrame brengen
    
    return df

In [ ]:
display(Markdown(parse_markdown(qry_description_file, section_number=9)))

In [ ]:
def query_09(connection, column_names):
    
    # Bouw je query
    query="""
    MAAK QUERY HIER
    """
    
    # Stap 2 & 3
    res = run_query(connection, query)         # Query uitvoeren
    df = res_to_df(res, column_names)          # Query in DataFrame brengen
    
    return df

In [ ]:
display(Markdown(parse_markdown(qry_description_file, section_number=9)))

In [ ]:
def query_10(connection, column_names, jaar_y=1990):
    
    # Bouw je query
    query="""
    MAAK QUERY HIER
    """
    
    # Stap 2 & 3
    res = run_query(connection, query)         # Query uitvoeren
    df = res_to_df(res, column_names)          # Query in DataFrame brengen
    
    return df

In [ ]:
display(Markdown(parse_markdown(submissions_file, section_number=1)))